# Using Transactional Datasets for Customer Analytics

Transactional datasets are one of the most common customer datasets available to all businesses. Such datasets hold information about the purchase history of customers including the amount, frequency and date of purchases.

We will be looking at a transactional dataset from an online retail store and our goal with this project is to clean this dataset and make it ready for performing customer analytics.

The dataset contains the following information:

CustomerID: Unique ID assigned to each customer
InvoiceNo: Unique number assigned for each invoice
AmountSpent: Amount spent by the customer
InvoiceDate: Date of transaction
Country: Name of the country where the order was placed

In [1]:
# !pip install numpy pandas matplotlib

In [2]:
import pandas as pd

In [3]:
# Read the CSV data as a Pandas DataFrame
transaction_df = pd.read_csv('transaction_dataset.csv', low_memory=False)

# Looking at the first five rows
transaction_df.head()

   CustomerID InvoiceNo  AmountSpent     InvoiceDate         Country
0     17850.0    536365        15.30  12/1/2010 8:26  United Kingdom
1     17850.0    536365        20.34  12/1/2010 8:26  United Kingdom
2     17850.0    536365        22.00  12/1/2010 8:26  United Kingdom
3     17850.0    536365        20.34  12/1/2010 8:26  United Kingdom
4     17850.0    536365        20.34  12/1/2010 8:26  United Kingdom

In [4]:
# Printing the shape of the dataframe
transaction_df.shape

(541908, 5)

As a first step, we should always clean a dataset before performing customer analytics.

Data cleaning processes differ from one dataset to the other but the general idea is the same, that is, 
we are trying to ensure that the data is verified and validated before any insights are generated from it.

1. checking if the DataFrame has any null values in it.

In [5]:

# Checking for null values
transaction_df.isnull().sum()

CustomerID     135080
InvoiceNo           0
AmountSpent         0
InvoiceDate         0
Country             0
dtype: int64

There are two ways to handle such null values. We can either remove the data rows containing the null values or we can fill the null values with some statistical value using the mean, max, etc. of the column.

In this case, CustomerID represents the individuality of a customer. Filling it is not a good idea since we cannot guess which customer made the purchase in the transactional dataset.

So, let us drop all the data rows containing null values.

In [6]:
# Dropping the null values
transaction_df.dropna(inplace=True)

In [7]:
# Check for null values
transaction_df.isnull().sum()

CustomerID     0
InvoiceNo      0
AmountSpent    0
InvoiceDate    0
Country        0
dtype: int64

Hence, we've successfully handled the missing values.

2. let us look at the data types of the various columns in the dataset.

In [8]:
# Printing a concise summary of the DataFrame
transaction_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 406828 entries, 0 to 541907
Data columns (total 5 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   CustomerID   406828 non-null  float64
 1   InvoiceNo    406828 non-null  object
 2   AmountSpent  406828 non-null  float64
 3   InvoiceDate  406828 non-null  object
 4   Country      406828 non-null  object
dtypes: float64(2), object(3)
memory usage: 18.6+ MB

There are three columns with the data type as object. Let us convert them to their appropriate data type. Here, CustomerID is being stored as a float value even though it is always an integer.

In [9]:
# Converting InvoiceNo from object to integer
transaction_df['InvoiceNo'] = transaction_df['InvoiceNo'].astype(int)

# Converting InvoiceDate from object to datetime
transaction_df['InvoiceDate'] = pd.to_datetime(transaction_df['InvoiceDate'])

# Converting Country from object to string
transaction_df['Country'] = transaction_df['Country'].astype(str)

The CustomerID column is currently holding values as float even though the data values are integer numbers. Let us convert its data type from float to integer as well.

In [10]:
# Converting CustomerID from float to integer
transaction_df['CustomerID'] = transaction_df['CustomerID'].astype(int)

Now, let us look at the head of the DataFrame to verify that the data types have been assigned appropriately.

In [11]:
# Looking at the first five rows
transaction_df.head()

   CustomerID  InvoiceNo  AmountSpent         InvoiceDate         Country
0       17850     536365        15.30 2010-12-01 08:26:00  United Kingdom
1       17850     536365        20.34 2010-12-01 08:26:00  United Kingdom
2       17850     536365        22.00 2010-12-01 08:26:00  United Kingdom
3       17850     536365        20.34 2010-12-01 08:26:00  United Kingdom
4       17850     536365        20.34 2010-12-01 08:26:00  United Kingdom

In [12]:
transaction_df.dtypes

CustomerID              int32
InvoiceNo               int32
AmountSpent           float64
InvoiceDate    datetime64[ns]
Country                object
dtype: object

3. Finally, let us also check if all the numeric values in the dataset are proper or not.

In [13]:
# Getting a statistical description of the dataset
transaction_df.describe()

          CustomerID      InvoiceNo    AmountSpent
count  406828.000000  406828.000000  406828.000000
mean    15287.694552  560581.737412      20.401913
std      1713.600528   13105.458755     427.592241
min     12346.000000  536365.000000 -168469.600000
25%     13953.000000  549130.000000       4.200000
50%     15152.000000  561873.000000      11.100000
75%     16791.000000  572065.000000      19.500000
max     18287.000000  581587.000000  168469.600000

We can see that the AmountSpent column has negative values in it. However, such column can only hold positive values that is greater than 0. Let us fix that.

In [14]:
# Getting the positive value 
transaction_df['AmountSpent'] = transaction_df['AmountSpent'].abs()

In [15]:
# Getting a statistical description of the dataset
transaction_df.describe()

          CustomerID      InvoiceNo    AmountSpent
count  406828.000000  406828.000000  406828.000000
mean    15287.694552  560581.737412      23.407303
std      1713.600528   13105.458755     427.438254
min     12346.000000  536365.000000       0.000000
25%     13953.000000  549130.000000       4.680000
50%     15152.000000  561873.000000      11.800000
75%     16791.000000  572065.000000      19.800000
max     18287.000000  581587.000000  168469.600000

We've successfully cleaned the dataset!

Moving on, let us save the cleaned dataset as a new CSV file so that we are able to use it in future use.

In [16]:
# Saving as a new CSV file
transaction_df.to_csv('customer_dataset.csv', header=True, index=False)

## Performing Customer Analytics

In [18]:
#import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

ImportError: DLL load failed while importing _imaging: The specified module could not be found.

In [ ]:
# Read the CSV data as a Pandas DataFrame
customer_df = pd.read_csv('customer_dataset.csv')

In [ ]:
# Looking at the first five rows
customer_df.head()

In [ ]:
# Printing the shape of the DataFrame
customer_df.shape

1. We can start our analysis by determining how many unique data values are present in each column of the DataFrame. We will be using the nunique() method off of the Pandas DataFrame for this.

In [ ]:
# Printing the number of unique data values present in each column
customer_df.nunique()

The dataset holds information about 4372 unique customers from 37 different countries.

Also, we can clearly see that even though there are 400,000+ recorded transactions, there are only 22,189 unique invoice numbers. Therefore, we can conclude that the invoice number is not unique to each transaction.

2. Now, let us find the total number of unique customers per country. We can use the groupby() method off of the Pandas DataFrame for this.

In [ ]:
# Getting the total number of unique customers per country
customer_df.groupby(['Country'])[['CustomerID']].nunique()

Let us assign this DataFrame to a variable, rename the column and sort it based on the number of unique customers per country.

In [ ]:
# Getting the total number of unique customers per country
df_country = customer_df.groupby(['Country'])[['CustomerID']].nunique()

# Renaming the column names
df_country.columns = ['no_of_customers']

# Sorting the DataFrame based on the number of customers
df_country = df_country.sort_values('no_of_customers', ascending=False)

# Looking at the first five rows
df_country.head()

Now that we have our sorted DataFrame, let us visualize it using a bar plot.

In [19]:
# Plotting a bar plot
import matplotlib.pyplot as plt
df_country.plot(kind='bar', figsize = (18,6))

ImportError: DLL load failed while importing _imaging: The specified module could not be found.

In [ ]:
#pip uninstall pillow
#pip install pillow

We can clearly see how the customers are distributed per country using the bar plot.

As a next step, let us generate insights using the four methods of analytics we have learnt before:

Using Descriptive Analytics, we can describe the plot stating that most of the customers of the online retail store are from the United Kingdom. Also, we can also conclude that most of the customers of the online retail store are based in Europe in comparison to other continents.

Using Diagnostic Analytics, we can diagnose that the cause for the large number of customers coming in from Europe is because the online retail store must have heavily marketed itself in Europe rather than the other continents.

Using Predictive Analytics, we can predict that the online retail store will continue getting more customers from the United Kingdom since there is already a massive number of customer base in the United Kingdom.

Using Prescriptive Analytics, we can prescribe the online retail store to further invest in marketing in the United Kingdom since number of conversions are very good over there.

Now, let us move on to understand how the customers are generating revenue for the online retail store.

For this, we will be calculating the total amount of transaction per month. So, let us extract the year and month information from the InvoiceDate column.

In [ ]:
# Looking at the first five rows
customer_df.head()

In [ ]:
# Getting only the year and month from the date column
pd.to_datetime(customer_df['InvoiceDate']).apply(lambda x:x.strftime("%Y-%m"))

In [ ]:
# Assigning the extracted values to a new column 
customer_df['InvoiceYearMonth'] = pd.to_datetime(customer_df['InvoiceDate']).apply(lambda x:x.strftime("%Y-%m"))

In [ ]:
# Looking at the first five rows
customer_df.head()

We can now calculate the total revenue amount for each month per year by using the groupby() method as before and finding the sum of the column instead of the unique number of data elements.

In [ ]:
# Getting the total revenue per month per year
df_revenue = customer_df.groupby(['InvoiceYearMonth'])[['AmountSpent']].sum()

# Looking at the first five rows
df_revenue.head()

Next, let us plot the values to see the trend of amount spent by the customers for each month.

In [ ]:
# Plotting a line plot
df_revenue.plot(kind='line', figsize = (18,6))

We can see straightaway that the sale has dropped significantly in the December of 2011. Is the online retail store losing customers?

Let us find out the reason for this.

We can find the date and time at which the last data point was collected in this DataFrame by finding the maximum value of the InvoiceDate column.

In [ ]:
# Finding the maximum value of the DateTime column
customer_df['InvoiceDate'].max()

So, the early stopping of the data collection was the cause for the downward fall of sales in December.

Let us now shift our focus a little bit more towards the customers and find how many monthly active customers were present in each month.

In [ ]:
# Creating monthly active customers DataFrame by counting unique Customer IDs
df_monthly_active = customer_df.groupby('InvoiceYearMonth')[['CustomerID']].nunique()

# Renaming the column name
df_monthly_active.columns = ['no_of_unique_customers']

# Looking at the first five rows
df_monthly_active.head()

Now, plotting the data using a bar plot.

In [ ]:
# Plotting a bar plot
df_monthly_active.plot(kind='bar', figsize = (18,6))

In [20]:
pip install pillow

Requirement already satisfied: pillow in c:\users\tulik\anaconda3\lib\site-packages (7.2.0)
Note: you may need to restart the kernel to use updated packages.

We can see that the growth of active customers per month follows a similar trend as the growth in total revenue per month. So, we can suggest that the growth of active customers may be the cause behind the growth in total revenue generated per month. That is an interesting insight indeed.

With this, we've come to the end of this project. Hopefully, now seen the true power of descriptive, diagnostic, predictive and prescriptive analytics in analytics.

----------------------------------------------------------------------------------------------------------------------------

In [3]:
import os
import glob

# List all files in the current directory
files_in_current_directory = os.listdir('.')
print(files_in_current_directory)

# List all files in a specific directory
#directory = 'path/to/your/directory'
#files_in_directory = os.listdir(directory)
#print(files_in_directory)

# List all files with a specific extension (e.g., .csv) in a directory
#csv_files = glob.glob('path/to/your/directory/*.ipynb')
#print(csv_files)

['.astropy', '.bash_history', '.cache', '.conda', '.condarc', '.config', '.docker', '.dotnet', '.gitconfig', '.idlerc', '.ipynb_checkpoints', '.ipython', '.jupyter', '.lesshst', '.matplotlib', '.node_repl_history', '.PyCharmCE2019.3', '.pytest_cache', '.spyder-py3', '.ssh', '.vscode', '.wdm', '3D Objects', 'aicourse.ipynb', 'AI_course.ipynb', 'anaconda3', 'AppData', 'Application Data', 'BullseyeCoverageError.txt', 'Case_Study_Lotus_Project_final.ipynb', 'coding.ipynb', 'Contacts', 'Cookies', 'Customer_analytics_for_sale.ipynb', 'customer_dataset.csv', 'Data Structure.ipynb', 'DataStructure.ipynb', 'Data_lotus_dataset.csv', 'debug.log', 'Desktop', 'Documents', 'Downloads', 'DS_practicecode_ARRAY.ipynb', 'example-app', 'Favorites', 'file.csv', 'get-pip.py', 'Information_.xlsx', 'IntelGraphicsProfiles', 'IOT', 'Links', 'Local Settings', 'Lotus_project_Data_Engineer_CaseStudy_1', 'Lotus_project_Data_Engineer_CaseStudy_1.zip', 'Lotus_project_Uk_Internship', 'mangodb.ipynb', 'merged_final.xlsx', 'MicrosoftEdgeBackups', 'Music', 'My Documents', 'myphonebook.txt', 'myproject_demo1', 'NetHood', 'node_modules', 'NTUSER.DAT', 'ntuser.dat.LOG1', 'ntuser.dat.LOG2', 'NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TM.blf', 'NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TMContainer00000000000000000001.regtrans-ms', 'NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TMContainer00000000000000000002.regtrans-ms', 'ntuser.ini', 'Numpy_demo_Basics.ipynb', 'OneDrive', 'package-lock.json', 'package.json', 'Pictures', 'practise', 'PrintHood', 'ProcessDataset.ipynb', 'Python_Basics_v1.ipynb', 'Python_numpy.ipynb', 'Recent', 'requirements.txt', 'result.csv', 'Saved Games', 'Searches', 'SendTo', 'Start Menu', 'Templates', 'transaction_dataset.csv', 'Untitled.ipynb', 'Untitled1.ipynb', 'Untitled2.ipynb', 'Untitled3.ipynb', 'Videos', 'Workshope_EU_Workshope.ipynb', 'world_bank_dataset_1.csv']

In [4]:
import os

def find_file(filename, search_path='.'):
    """
    Search for a file in the directory tree starting from the search_path.

    :param filename: Name of the file to search for
    :param search_path: Path to start the search from
    :return: Full path to the file if found, None otherwise
    """
    for root, dirs, files in os.walk(search_path):
        if filename in files:
            return os.path.join(root, filename)
    return None

# Define the filename to search for
filename = 'Customer_analytics_for_sale.ipynb'

# Start search from the current working directory
file_path = find_file(filename, search_path='.')

if file_path:
    print(f"File found: {file_path}")
else:
    print("File not found")

File found: .\Customer_analytics_for_sale.ipynb